* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 body {
   background-color:#e4e59b;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
 }
 
 main {
   text-align: center;
 }
 
 h1 {
   font-size: 5rem; 
   color: black;
   margin-bottom: 2rem;
 }
 .box.O {
   color: blue; 
 }
 
 .box.X {
   color: #dc3545; 
 }
 .container {
   height: 70vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .game {
   height: 60vmin;
   width: 60vmin;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 1.5vmin;
 }
 
 .box {
   height: 15vmin;
   width: 15vmin;
   border-radius: 1rem;
   border: none;
   box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
   font-size: 8vmin;
   color: black;
   background-color: #ffffc7;
 }
 #reset, #new-btn {
   padding: 2rem;
   font-size: 2rem; 
   background-color: black; 
   color: white; 
   border-radius: 1rem;
   border: none;
   margin-top: 2rem;
   cursor: pointer; 
 }
 
 #msg {
   color: black;
   font-size: 5vmin;
 }
 
 .msg-container {
   height: 100vmin;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 4rem;
 }
 
 .hide {
   display: none;
 }
 